In [2]:
import pandas as pd

df=pd.read_csv('data/Churn_Modelling.csv')

In [3]:
df['Surname'].unique().sum()

"HargraveHillOnioBoniMitchellChuBartlettObinnaHeH?BearceAndrewsKayChinScottGoforthRomeoHendersonMuldrowHaoMcDonaldDellucciGerasimovMosmanYenMacleanYoungNebechiMcWilliamsLuccianoAzikiweOdinakachukwuSandersonMaggardClementsLombardoWatsonLorenzoArmstrongCameronHsiaoClarkeOsborneLavineBianchiTylerMartinOkagbueYinBucchoChidiebeleTrevisaniO'BrienParkhillYooPhillippsTsaoEndrizziT'ienVelazquezHunterClarkJeffreyPirozziJacksonHammondBrownlessChibugoGlauertPisanoKonovalovaMcKeePalermoBallardWallaceCavenaghHuReadBushellPostleBuleyLeonardMillsOnyeoruluBeitNdukakuGantRowleySharpeHeapRitchieColeCaponFiorentiniGrahamYuilleAllardFanucciFuHungBradleyDunbabinMauldonStigerParsonsWalkomT'angEremenkoRowntreeThorpeChiemelaKoWelchDuncanChidozieWuCulbrethKennedyCalabresiZetticciFullerMacDonaldPiccioFernieKaodilinakachukwuCocciAlekseevaChinweikeArthurLiMaChiaVasinGrovesTienForwoodGreevesTaylorMadukweBennelongOlisanugoChukwufumnanyaHarrisMorganAlexeevaMetcalfeHumphriesMilneChouClaytonChigolumWilkinsonWeiTreacyTavernerShermanTaubmanRobinsonPintoWoodHawkinsSunYostTingRoweHoOkechukwuCampbellAshboltRozierHsiaOgbonnayaChangT'aoFordMarshallTsaiOnwumeluGolovanovPottsCrawfordAleshireMoranSamsonovaJenkinsVolkovChiemezieJudeOnuoraGinikanwaKuCollinsHackettDikeTrevisanoTanGlassmanMillerKornilovaMarchesiMillarShihHayYangMcIntyreStevensonPooleBagleyCh'ienCattaneoO'SullivanLucasRingroseFreemanSergeyevFioreSmithDumetochukwuPachecoSynnotJohnstonStevensGrantBarnesMcIntoshMadisonIfesinachiGlazkovDimauroWieckLiaoHughesMorrisonMatveyevaCheathamYaoKirklandRoseJessIfeajunaMortonRossiReppertKangCh'iuWallisFieldingDulhuntyBevingtonBoyleNewtonBowmanDubininaToscaniChiazagomekpereAllenK'ungWilsmoreHargreavesHuangWallworkDavidsonO'DonnellNnachetamAhmedBoothChuangShaoJohnsonFrenchEfremovHartleyCalabreseChiuBrennanOnwuatuegwuHewittBalashovDoylePokrovskiiRussoSkinnerRobertsonAtkinsonMcEncroePearsonGordonTs'aiLungYuanPardeyTaiMazzantiL?BeachHsiehFaulknerKnowlesDayHsuehNwabugwuKerrMarreroWhiteBrownRussellSeleznyovYusupovaFoleyIkedinachukwuPowerAmosReedSimmonsRicciWestChenMadukaegoIbrahimovaNolanBlairMonaldoSutherlandBriggsGregoryAngeloGardinerDistefanoFarrellMilanoBoydOnyemaechiBlackOliverGrecoWhiteheadIkemefunaOnyeoruruCunninghamDemidovCelisChengKnightMorinOuthwaiteTungPaiCarpenterFennellFontainePrattFranklinMcKenziePinoFiskChiangMoseleyHsiungHeathDe SalisRichardsonFitchEstesLattimoreChungUtzNwachinemeluKuznetsovaPisaniMannaCollierCarrHs?FindlayChukwuemekaGenoveseSwiftUgojiParkinsonRossOlearyTurnbullUspenskyCookNewboldUchechukwuCh'enHiltonSalEluemunoTitusLettiereTemplemanChibuzoEvansEnyinnayaBrookesPadovanoHareMuirElewechiAnkudinovNwokikeAtkinsBurnsObiutoGeorgeLewisDalrympleCarslawKirbyHoughtonWesterbergHaleKryukovaSopuluchukwuBarrySeleznevaChizuokeLueckUdineseUdobataOutlawLoKingForbesMacleodGibbsIsayevBelsteadVassilievSchneiderKnipeMacartneyWattsHumphreysChesnokovaKungLuNkemakolamWaltonBaldwinMaiFerreiraUkaegbunamDe LucaDavideKodilinyechukwuLittlePatersonHanIjenduReichardPriceBruceSumrallLazarevWentworth-ShieldsMackenziePendergrassBillsonTengMorettiJordanTs'aoCh'angObialoGrayLinHopkinsDobsonMcKayRevellRickardsBegumOnyinyechukwukaZuyevNwankwoOkwuadigboChanBuchiLombardiUchennaCoffmanAlexandrovaFallaciHudsonStoutBurkeChadwickLawrenceBellucciHarperMossAvdeyevaLyntonGetherLarionovaLoggiaSteinhoffGuerraCraigLazarevaAldereteRahmanMcMillanPickeringMiramsDouglasJideoforBellMairingerPagnottoFengDonaldsonChambersMarceloEjimoforDalePokrovskyStonebrakerLiangAndersonChristianMaoSageseFlemingGrubbNapolitaniAnenechiChandlerHowellsAkeroydUwaezuokeLoyauSmallBledsoeKaoWickensWertheimJarvisP'anRepinaPugliesiBlakeyNucciHiginbothamAchebeDobieMaccallumWatkinsMitchelFerdinandOtitodilinnaMameluBeneventiPerrodinChinagoromNapolitanoEdgarWalkerSteeleElkinsToscanoSavageMordvinovaKentCooperMazziFisherSummersBradyNichollsGolubovOldhamKambinachiChinwemmaOlsenJenPrestonOziomaCodyPonomarevMilaniTangRomaniDavisOnyemauchechukwuGellChiweteluKirillovaShawOkwudilichukwuOnuohaMueckeAzubuikeNnonsoAshleyTs'uiKenennaBeluchiWilliamsonBobrovPittsStandishCartwrightJohnstoneNikitinaMcElroyShenArcherOtutodilinnaDenisovOwensP'engVercoBergamaschiOuttrimHouGalkinEchezonachukwuMunroBallVirgoTaoPerezFraserAlleyHooperRiceCoxIkennaAlexanderPiazzaNiHarkerChiabuotuKuoGallagherZhirovLloydPalmerCh'engAventTrentiniKoehlerOkoliNwokezuikeArtemievEspositoAbbieAveryanovUnaiponClampLimWanPettitBaresiNewberyIheanachoLandryMcGregorPirogovOguejioforUgochukwuRohuCaryO'LoghlenQuinnPageStanleyBednallSheMaySeabrookHerreraKincaidSleemanArtemievaBarwellWrightMooreSungMelloMistryChukwukadibiaZikoranachidimmaOluchukwuRiveraNiuBennettWollstonecraftThomsenChinwenduJamesLambOlejuruChiawuotuYeatesThurgoodKnuppBaryshnikovShephardAvdeevaHsuBuchananYehPalazziY?anSchofieldWallBlackburnWickhamBirdBrizendineCh'inYusupovJibunohWilderNepeanMcNessColesBensonGilbertWilhelmSinclairBucknerPadovesiPalermaPanKenniffSpencerLeesDavidHsingGinnSozonovManfrinArtamonovaHansenLarsenOwenMurphyEkechukwuAyersSandersEberechukwuBardinTalbotGooldZikoranaudodimmaGarnerNaylorFultonMcCaffreyZuevFabroChatfieldVolkovaAbramovichChienTimmsWillifordHamiltonSuAkobunduChukwuebukaLampungmeiuaKlineRiggsDavisonIngramDilkeGibsonIadanzaHebertJamiesonChiganuBurgessWoodsBluettChapmanAndrejewSpyerPhilipPerryFokineMackayMaslovaMcLeanThompsonTisdallOnochieMironovaNdubuezeStephensonGolubevMullanGloverNortheyHowardeColmanButcherWilkieBrayAnnSouterMedvedevaOnwudiweFerrariHazonHardyDicksonHoldenDohertySamuelMalloyFittsYefimovaAbramovDemuthLawlessBrooksIgnatyevaBalmainEcuyerLi FontiDespeissisWilliamsHancockWilkinsLongoManciniWinter-IrvingStewartMurrayRischbiethOtutodilichukwuThomasWhitworthTrentinoMcMastersAlekseyevaBaranovaYobachiSorokinaErvinVanceNobleMilanesiParkinCremonesiDochertyUgonnaBevanO'NeillPhamOsinachiMuravyovIgwebuikeZackChidiegwuLucchesiYudinWadeSeptimusHargravesSidorovBuntonContiSimsCarterDumetolisaPengDrake-BrockmanTretiakovLaiJusticeOsonduagwuikeEwingTsouUbanwaKapustinNnamutaezinwaFerriAmechiKirkGriffinLongstaffMcWilliamCoffeeCreswellDoddsEwenBoniwellVasilievaKwemtoBocharovaMorresVogelT'anWisdomShahanBryantHaywardLiuGreeceNormanChukwudiFedorovReidWoffordStephensFrolovFieldsSuffolkJuddDegtyarevKinlawOmeokachieGorbunovaTikhonovCampaDonoghueTuanBaxterRogersByrneAitkenMacintyreSimpsonPraedLaurensBykovVorobyovaPirogovaSturtPanicucciSicilianiLuccheseSwaimQuinonesLudowiciLarsonLandmanK?AlexeyevaChukwualukaMcCallOkekeIloabuchiNebechukwuDiribeMacgroartyArtemovaKellyReillyOjioforSheltonLangeHovellEspinosaBarbourOzerovaUlyanovaSteinerAkabuezeAleksandrovaGriffithsMcNeilBrunoOkorieMoenMcGuiganFancherMatthewsKaeppelYudinaJamisonHardimanWoodardChienezieChinezeBucklandFlanneryPayneVincentPearceRileyHonoreMacarthurGouldMedvedevSholesRolonBlighLambleJoseHowardOnwuamaezeD'AlbertisNwachukwuSimpkinsonConwayMaslowSwadlingGalloOnyemachukwuSamoylovaLeakFrostWarnerIfeatuFanWhiddonOnyekachukwuErmakovaMarinoOnyemereEveringhamHuieCrowtherSkeltonGiordanoBatesonElizabethSerranoWillisMashmanTuRomanoGoliweChiemekaKellwaySopuluchiSpitzerPotterKovalyovaMiahBuilderBaddeleyToddObiajuluFarmerIgnatieffOkonkwoDoreBazarovaBurnAndreyevNockKelleyWilsonMcFarlandCisnerosBorchgrevinkRozhkovaVeltriGolibeUdinesiCurtisHaydenGreenGoughBatesKharlamovFergusonLe GrandValdezGodfreyRobsonYevdokimovaColomboAkubunduFrancisRhodesY?BurgmannMacvitieTownsendPopeJensenThomsonChiazagomekpeleOzuluonyeFangHortonSchiavoneFiorentinoButusovWangAlexeievaVinogradovaBageNaquinSchroederSwearingenKozlovaNekrasovOlagueHoltDavilaGilesO'MearaChukwuraenyeTiptonMoreyAfamefunaIbbottLawChinedumKruglovStoneWileyChiagoziemChukwukereLeeTheusJenningsParkerPattersonOfodileNashBrenanObidimkpaTerrySpringMahmoodAmaechiFoxallBentleyBairdHenryRocherKomarLoewenthalAliyevaMontesTyndallBaileyOnyekaozuluChristmasGenovesiEllisOnuchukwuQuaifeHolderLahtiPerkinsHayesRizzoKrylovMatthiasMasonSmeatonGotchO'TooleLedfordAlanizSaundersStreeterBarclayOtitodilichukwuWheareSotoBogleGrimmettWebbNwokeochaOlisaemekaYobannaTrevisanKnoxMoyesBeaversTretiakovaAikenheadCranGolubovaMcElyeaRosasPhillipsMorrisPavlovaYamamotoZaitsevCawkerFroggattGorbunovMikkelsenKovalyovMbanefoEnderbyLiraCastiglioneYuryevaDeanVasilievFedorovaSamsonFentonMackeyPaytonCowgerBanksFantinWongRobertsLo DucaAshtonMeltonZakharovPatrickDeRoseVavilovBrowneCollingridge de TourceyKorovinHammondsWardGallopGartrellOluchiBarlowBurginNnaifeOkwudiliolisaParkesKapustinaGreathouseBeersTretyakovaCostaIbezimakoLumholtzMouzonIbeabuchiGarnseyWildmanAnenechukwuPlantBabbageNortonBogolyubovGibbonsGregsonSpethBoagGraveStreetenFoxArtemyevaGardnerUwakweBellewKrichauffBeckerAinsworthBiryukovReddingInmanHansonFischerChinweubaHenningOgochukwuNarelleBergmanHarrisonGoodmanUgochukwutubelumUvarovaInnesCraigieOnyekachiPethardObielumaniEmeryDufresneVialPrunedaNeumannYobachukwuHessAnayolisaZhouBustardNgozichukwukaLaneDavyBarreraHallLysaghtKelechiChikezieDreyerShortHuntKibbyRamosKeeleyFarrarGreenhalghOdiliKolesnikovRutherfordMendesBronnerMeanyLe GallienneWheelerChristieFavorsVidaWaynNuttallMcEwanHolmanBazhenovKempEbelegbulamTsengYermakovChukwunonsoDawsonIfeanyichukwuMusgroveBoulgerGowRobeBibiArcuriMurielMacDevittChijindumNottLeiSheetsTokaryevUnwinFraterVanmeterRearickGlennyMarksTroutMorleySomadinaChielokaChiokeKovalevBaranovBidencopeDe BernalesCashinSeppeltO'ConnorMcGuirkRuthAksenovMengNwoyeAksyonovaHammerAbbottDavydovaNkemjikaMarioLongNelsonThorntonWarlow-DaviesChampionWilliamOzoemenaArchambaultUdegbulamGreeneBlinovaDe GarisHolmwoodChidubemRandallLeachLightHollowayNwebubeChibuezeLanfordAnthonyMyersDaveyChikereHs?ehWittKazantsevaBowhayBeyerFriesConnelyConnollyFominChamberlainBarberZimmerBrazenorCaldwellYirawalaTokarevaCastellaDu CaneWoronoffOnodugoadiegbemmaDarlingPonomaryovProkhorovaBlacklockSazonovaHentyAzukaBrockBulgakovLordUspenskayaPowellMcChesneyYurievLablancDoddDillonHoelscherUdokammaSinnettChimaijemPorterYoungerNwagugheuzoDrakeHannaLoftusChidaluIredalePadillaIbragimovaNakayamaGardenerAksenovaKudryashovaHartKruglovaShafferLaurieWhitfieldRiouxMatveyevNkemdirimBrimSoubeiranHelenaMacdonaldChiekwugoWellerBessRandellRandolphHurstMontalvoKosisochukwuViganoWindradyneCurnowDe NeeveEbelechukwuKeatingShearstonArnoldChaoZhdanovaFetherstonhaughSeversonSpeightGreenwaltGroverMuseMarsdenDennisNixonRiversSochimaHeydonHollandDebellisKibbleLoriEnemuoNebeolisaChikwadoYatesWattLavrovKorovinaManningIngrassiaLangdonGoddardZubarevaNewsomShoobridgeFyodorovaSolomonLayhJohnSlatteryDanielsChiemenamWanlissEamesKenyonParryArnottSteereDickinsonEvseyevUlyanovKazakovaHannafordMahonMilesVossColebatchChikeluAllanYefremovaGarranNkemdilimRubensohnIqbalDyerLyonsNamatjiraLeibiusCoppinGerasimovaHumffrayDegtyaryovCawthorneKhanIroawuchiBottrillJonesSanfordChimaobimJowersKirsovaCockrumGreavesReevesNnamdiCharltonMarshPottingerBuckleyFollieroJessopHodgeIgnatievMansomKomarovaYuSuttonHydeSmalleyBartonHorrocksFryeMellorMeredithChinomsoChimaokeWintersHawthornHawdonJoslinBidwillTateNealFulksSicilianoOsitadimmaKazantsevDolgorukovaSinghShiptonRivasHoolanPepperAbramowitzAbazuHarrimanFranklandKwemtochukwuTo RotLearWinterHughes-JonesEstradaHeardEfremovaMorphettLenhardtMcMorranPhelanHotchinAksyonovMcGarryAkhtarMcDanielsTennantDonaghyTobennaVicarsVesselsHellerDunnVasilyevaMollisonAikenBrabynTraegerEkwuemeChinwenmaEstepMishinaLavrentievKilgourSheppardNnannaNorrisChidiebereOkwukweElliottWalshMahomedBogdanovMoyseyAngelTooseyHassallPoninskiBonhamBoldIzmailovValentinMcIverFishbourneChukwuelokaRealOdellEnticknapMannAdamsHirstHoranCumbrae-StewartKinneyNinaMortMartinezVasilyevLacrossMaughanTochukwuSlateChiebukaBerryBoylanWarrenListonMazureRudduckDarwinTomlinsonCoatesHickeyStobieDrakefordBermudezWyattBlackwoodStoreyGlasgowCrottyHysellComptonSeeThreattDaviesMatlockChiedozieAdamsonMishinBullSerraSummervilleAstorgaBlesingNevzorovaSheehanMcElhoneChigboguTilleyMcCartneyBadgeryZarateCongreveHayslettLovingUgonnatubelumCorbettEilandLabradorDettmannHopeIvesBrierlyRapuokwuSeniorGarmonBiryukovaHutcheonBatemanHaughMicklemKegleyValenzuelaFominaDixonBelovCrossCullenRuddGidneyDaltonHartzlerLambertGameHaynesJimenezPharrJergerRamsdenJowettVenablesMonnierGadsdenOsterChizobaPeyserSeleznevAlleyneZikoranachukwudimmaEjikemeifeuwaRickardAndreevShandStehleBelonwuBakerGarciaFieldJefferiesLockyerTorreggianiRichardsHerbertAndreyevaBowenFowlerLockettPhelpsFrederickCarlsonMbadiweSabbatiniEwersHannamMofflinIfeanachoMaitlandPollardBrigstockeGboliweSeleznyovaJosephSalierEvdokimovPonomaryovaGrosseBelbinTitheradgeHobbsBeggsLuffmanEvseevHaginsKirwanMilliganRoysterGougerIgnatyevMunzPalingClancyRiosOnyemauchechiNkemakonamKirillovStilesGaffneyTsuiArmitRamsbothamScannellEdmanShaverCouppBezrukovaCohnLaySchmidtHusseyMacfarlanSzabadosMcKelveyMcConnellIheatuWinifredHolmesRiddleMcClemansBasedowNworaHoweyKramerReynoldsHerrinNewlandDemaineHarewoodBischofUrenRuggieroWildingYashinaYevseyevMaslovSullivanAllsopCastlesColbertChimezieDaluchiSheffieldDysonOnwukaFloresNicollWatersRaynorEberegbulamMiccoAvdeevBremerGadsdonHicksLoganWeberSchnaarsAlgarinMetcalfLuptonIbeamakaRuedaMaduekeTorresChukwubuikemSemmensBogdanovaCorserMcCardleRadcliffe-BrownChukwumaobimCardusWhitehouseMcCullochKooWoolnoughVinogradovSniderIsayevaMorenoGillVaguineToomeyBonwickMiddletonValeArkwookerumLujanGannonRomeroOnwuamaegbuPeacockBareseNnaemekaEfimovMaynardZotovaHannahCartagenaVictorKrawczykAbelCavillRenwickLintonLanglandsSykesKryukovDonnellyBoucautSilvaIweobiegbunamZitoEdmondstoneGeorgMichelidesChidimmaEdmund la ToucheBelousovMcCaneParry-OkedenAldrichShillitoIkechukwuKauffmannBockBrewerYermakovaJackaSharpAthertonCooksonHortZaytsevaDiehlMeadNicholsonHuddartSwainBrientTuckerIzmailovaHutchinsonOkwuomaAmadiPercyFloydMelendezKovalevaChukwumaGilroyHearnSwansonBenjaminRyrieMontemayorIzuchukwuHerringDuffyChiefoFyodorovPalmerstonPolyakovConnorChesterDenisovaClogstounKalininaBennetHallahanLouisTrouetteCribbFletcherCorsonHintonBrombyNwekeBattyAgafonovaChidumagaBirkChildsObiomaStetsonWaringThaoArmfieldPaninaMartelBuddicomWaltersMuravyovaKeenLiebeRogovaRaffKanayochukwuGuerinDominguezPughSawtellKharitonovaMuramatsSokolovGayMaurerGrieveLowellPhilippDynonBishopReneDaigleJoshuaCochranBibbCorranLovelyPlascenciaZotovLynchMcCarthyNnabuifeTinlineEsomchiRetanaO'LoughlinGormanFinchReyesDownieYegorovCantrellGlennonYancyCruzBukowskiChikwenduKharlamovaDiazRoss-WattShubinSadlerWhittakerGratwickBoveeFrolovaBradshawClunieCoverHodgsonHarveyChaseAparicioUdegbunamAlexandrovCamposMcKinnonBurtFeethamCoburnYegorovaCoronesMorriceBarrettTardentCastilloLindsayMacnamaraAksakovaFarnsworthKochFleetwood-SmithChinonyelumMontagueYewenKalininWoodwardIweobiegbulamBurtonSchwartzSargentKepleyLassetterIloerikaMichelGoodwinRapuluolisaOsorioBarnettPikeGearheartEgobudikeAhernAnayochukwuNevelsWinnLopezSteenPipesWindsorWarkAllnuttPedderChialukaSelwynKogerKendallElliotGrattonCarandiniBarkerKorffKiernanMathewsMacrossanIllingworthMenhennittShoebridgeEvaHoweBelisarioPomeroySchafferGonzalezTempleRidleySlyeTakasukaBrucheRyanAbramovaPurdyHigginsReyeWilloughbyMayneParamorDalyGorshkovMcClintonHolbrookSolominaFaulkForsterChamberlinButtenshawNazarovaMerrettElderGunsonGleesonLangEveStradfordBrownlowFyansCreelNicolaySomervillePauleyGoeringMaduabuchimLingerKenechukwuLearmonthFitzgeraldDugganKrischockBinderZubarevColemanMolineuxDuiganJobsonPerreaultAlgeranoffGallowayArringtonKamdibeCousensHawksThynneGreenwoodOgleWolfeDilibeAustinSantiagoAfanasyevaPriestleySalmondGoloubevDipietroNiehausBarclay-HarveyHartungSternbergShepherdMarcumNorthWhiteleggeRookeHorsleyEskridgeClaiborneIbrahimovEnriquezGillelandFullwoodDoyneRawlingAnkudinovaBalsillieWorsnopBudaBroadhurstGarrettEdwardsLogueRechnerBattTrujilloAshKummCareyFarberEdmentsLindonPitcherKableKulikovaNavarreteHuguleyMassieOnwubikoObioraSlaterMenkensBeathamDowseGriffenUvarovHussainGrigoryevaGunterColleeIbekweHairstonAbdulovPerkinBondStirlingRutledgeMullahCandlerHollisLionelSerenaCumminsZhdanovPeckGeraldNebeuwaMaruffKnepperHandChidiMaxwellBerkeleyKaurMountgarrettWrefordBoltonCorrieLambieStreetonPenningtonAnsellStokesAmptWynnWagnerArgyleLockeBullenMunsonCookeHawesSwantonShippJonathanHernandezHighlandPeelHerzSalasLaneyMessersmithEtheridgeJollyBottsFinkMoreheadBalashovaLowePonceZuyevaChukwujamuikeFlynnKleinShcherbakovSokolovaMosleyEverettRouseBurrowsArtyomovaYermolayevaLe HunteBlakeSparksNorthernJackSecombeUgorjiBancksFairleyBoothbyChukwuhaenyeLockRamseyEipperFernandezYermolayevKolesnikovaSharwoodBufkinNeitensteinSandoverSergeyevaBalesRomillyLawsonBracewellTorkelsonHightowerLevanLoginovLafleurMirandaSimonGolubevaStangeMillinerSwintonSukhorukovaCombesCarruthersO'LoghlinTroupeDeleonDownerBochsaCzajkowskiPankhurstBirdseyeMoonChuterNielsonAjuluchukwuBoardLeckieCayleyKuykendallUkaegbulamOnwuemelieClendinnenMactierLiptonLevyAmiesAliyevLanglerPyeAsherMajorHalpernNyhanBirdsallMackieVinogradoffPokrovskayaMoroneySpenceCherkasovaCrockerPolyakovaCantamessaTeakleChallisDodgshunBlackallSchoenheimerBromleyShubinaKinderShepherdsonBursonHopwoodLindemanMcKinleySanchezMuomeluMcVeyMcKissickHorsfallClappMacDonnellErmakovPeppinFontenotHowarthGentrySunderlandKnorrChimaraokeFredericksonPickworthMcGillSarrattLeworthyRiveroHornungBarnetDennysSalterLazarOnyenachiyaMcCawleyTeagueNekrasovaCarrollLandorWardellAliSomayinaRuizWaterhouseJaraO'CallaghanPeaseLavrentyevHobsonLappinTravisJeffersonBegleyLevienErskineMondsCastroVoronovaDietzVoronoffTrevascusDurantChigozieArdisButlerPettryElmoreVoronkovGarlandNdubuaghaDukeBradburyBayleyCreminGilchristFitzpatrickPaganHendrickHardingBurfittNievesBrunyFelixRippeyConverseBogolyubovaRemingtonLeviBennettsVachonUpjohnMarcusAlvaresMcDavidBrothersMolleGalganoRaymondBrodneyAfanasyevMeagherMcGuffogSargoodHarringtonLorenzenVidlerAllinghamStelzerRubinHarrellWelshSousaObijiakuMullenHowellCliftonReesOnwugharaGeogheganIlyinaQuezadaTobeolisaAkudinobiFlemmingAzarovChillDumoloWetherspoonHamptonIrelandHibbinsLeaSingletonSauveEidsonMelvinDawkinsRitaWoolacottServiceDancyHankinsonAfamefulaSherrodBarlingHoblerBairDruryBealeMcMinnHajekMaysSwayneFennesceyColonLedererCecilMannersWynneDisherYocumLowrieLavarackGomesGibneyForanWyckoffSoaresKenechiBecherRunyonDobbsFoveauxCurreyNicholasFosterEdmondsonAh MouyBlueSievierWatterstonButtersWeaverEarlBeggMcNaughtanReaganBancroftBandSandefurConeLiardetWilkesPatelHowell-PriceRowlandBarnardPendredSamaniegoBurgosSpinelliPeavyLindellSorensonCockettGalkinaSpearsHardacreWakelinShahCombsMayrhoferYefremovKosovichTaplinYefimovHalesCopelandRishelLarkinEddySellsBezrukovSt ClairLockingtonWestonGroomCambageBurdekinFranzMorantLotonSaniVon DoussaMiracleBurtchMcLachlanWenzKischNewmanNdubuisiPlummerErshovaBrookmanMcBurneyMickeyOlszewskiChijiokeBellasisDe MestreMundyDonahueVerjusSpaullVoroninaCrumbleyBirchCustanceMarshall-HallMoreBazileWardleLillyMedlandDenmanRattenAbronBelcherAbernathyPapeEarleCoombesHopmanTrejoMacknightGlossopChalmersPicotNeumayerYipIngleCoffeyIstominFernandoMcClaranTownsleyMuellerMadukaifeAbdullahCarawayLoaneGeachCharterisDescoteauxCrumpDiggsCarvossoFurneauxNicksonHighettRendallAllardyceWeatherfordChongAlvarezPritchardRawlingsTruscottWillmoreGodsonBitterForlongeReynaTranOtooleKaneIsaacsTimperleyChristopherLawleyWhitsonWimbleFerminFaddenZoxLandseerJenksCracePackhamEmenikeNeroHaddonSloneDannHookerKistlerLeasonBrunerRubeoClaypoolWalpoleSteigradHixsonLauraHendleyBirnieMontgomeryGambleChifoMichaelQuesadaWunderBurlingameKestevenAbregoParrottZinachukwudiKeaneMcCollumGambrellRiekeCawoodYelvertonMaultFrewinRoystonWearingSuttorCatchpoleSiddonsArbourHingstonSaccoRobbOchoaRichmondNworieWentcherHayes-WilliamsCairnsSchatzStantonRamirezBryanMullawirraburkaChubbHugginsCowenKaleskiSugdenBeckBeamHaworthGuidryMaherRapuluchukwuCyrilLaidleyMcNeillKentishPersseChukwujekwuHamPatenEsquivelSidorovaSantanaMironovRusePalfreymanWebsterCardellLennoxMeldrumVidalVealeKershawVanzettiBooneNagyLehrUpchurchWoodhouseTothIngamellsOverbyChifleyRodriguezKingsleyGosnellGearhartSeccombeRounsevellStonemanMoodyKeldieDefalcoTillmanBeedeSadlierBozemanShelbyMarianFaneCaffynDahlenburgOlsonAndersenMackinlayNorrissMottFokinaBoanToppBurgoyneGebhartTudawaliMaconochiePlumbBenfordCobbMacadamTychonoffUrbanLascellesMackSneddonHopetounFariaMarquezBarnhillOggWellsCalzadaGresswellAguirreMoralesMoffittWeigelOhearnMunroeTrumbullCristO'KaneLorimerMcDowellRoot

In [4]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
df.drop(columns=['RowNumber','CustomerId','Surname'],axis=1,inplace=True)

In [6]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [7]:
label_encoding_feature='Gender'
one_hot_encoding_feature='Geography'

In [8]:
x=df.drop('Exited',axis=1)

In [9]:
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder
from sklearn.model_selection import train_test_split

In [10]:
label_encoder=LabelEncoder()

x['Gender']=label_encoder.fit_transform(x['Gender'])

In [11]:
x.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,0,42,2,0.00,1,1,1,101348.88
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58
2,502,France,0,42,8,159660.80,3,1,0,113931.57
3,699,France,0,39,1,0.00,2,0,0,93826.63
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10

In [12]:
one_hot_encoder=OneHotEncoder()

In [13]:
geo_encoder=one_hot_encoder.fit_transform(x[['Geography']])

In [14]:
geo_encoder.toarray()

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [15]:
one_hot_encoder.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [16]:
geo_encoder=pd.DataFrame(geo_encoder.toarray(),columns=one_hot_encoder.get_feature_names_out(['Geography']))

In [17]:
geo_encoder

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [18]:
x=pd.concat((x.drop('Geography',axis=1),geo_encoder),axis=1)

In [19]:
x.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0.0,0.0,1.0

In [26]:
import pickle
import os

In [30]:
folder_name="pickle-file"

if not os.path.exists(folder_name):
    os.makedirs(folder_name)

In [31]:
with open(f'{folder_name}/label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder,file)
    
with open(f'{folder_name}/one_hot_encoder_geo.pkl','wb') as file:
    pickle.dump(one_hot_encoder,file)

In [25]:
y=df['Exited']

In [32]:
scaler=StandardScaler()

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [33]:
x_train=scaler.fit_transform(x_train)
x_test=scaler.transform(x_test)

In [34]:
with open(f'{folder_name}/scaler.pkl','wb') as file:
    pickle.dump(scaler,file)